@import '../../style/main.scss';

.checkbox-labels {
  padding-left: 15px;

  label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
  }

}