$primary1: #084c61;
$secondary1: #33bdbb;

$accent1: #f91738;
$accent2: #ffb100;
$accent3: #859be6;
$accent4: #e9a7ea;
$accent5: #4c4d4f;

$accent1-hover: #d92d46;
$accent1-disabled: #f5d2d7;
$secondary1-hover: #01a5a2;
$secondary1-disabled: #bfe2e1;
$accent3-hover: #4e6dd8;
$error: #e42328;
$success: #c93238;
$highlight: #2dd7d4;
$font-dark: #727272;
$font-light: #b8b8b8;
$bg-dark1: #f4f4f4;
$bg-dark2: #fafafa;
$bg-light: #ffffff;
$bg-disabled: #f1f1f1;

// Shadows
$box-shadow1: #eeeeee;
$box-shadow2: rgba(0, 0, 0, 0.2);
$box-shadow3: #d6d6d6;

//Separator
$separator-dark: #215e71;

//Message
$msg-background-color: #f8b7bd;
$msg-text-color: #4A4A4A;
$msg-warn-icon-color: #EF5F96;
